<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <div class="user">
        <div class="avatar-sm float-left mr-2">
          <img src="../../../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
            <span>
              {{perfil().name}}
              <span class="user-level">Administrator</span>
              <span class="caret"></span>
            </span>
          </a>
          <div class="clearfix"></div>

          <div class="collapse in" id="collapseExample">
            <ul class="nav">
              <li>
                <a href="#profile">
                  <span class="link-collapse">Mi perfil</span>
                </a>
              </li>
              <li>
                <a href="#edit">
                  <span class="link-collapse">Editar Perfil</span>
                </a>
              </li>
              <li>
                <a href="#settings">
                  <span class="link-collapse">Ajustes</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav nav-primary">
        <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="./reporte">
                  <span class="sub-item">Reportes</span>
                </a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Bienes</h4>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a data-toggle="collapse" href="#base">
            <i class="fas fa-layer-group"></i>
            <p>Tablas</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="./inventario_off">
                  <span class="sub-item">Tabla Excel</span>
                </a>
              </li>
              <li>
                <a routerLink="./inventario_filtro">
                  <span class="sub-item">Tabla BD</span>
                </a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a data-toggle="collapse" href="#sidebarLayouts">
            <i class="fas fa-th-list"></i>
            <p>Usuarios</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="sidebarLayouts">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="./usarios">
                  <span class="sub-item">Lista de Usuarios</span>
                </a>
              </li>
              <li>
                <a href="overlay-sidebar.html">
                  <span class="sub-item">Editar Usuario</span>
                </a>
              </li>

            </ul>
          </div>
        </li>


      </ul>
    </div>
  </div>
</div>