
    <div class="card-header">
        <div class="card-title">Estado de los bienes</div>
    </div>
    <div class="card-body">
        
        <div class="chart-container">
            <div class="alert alert-danger mt-3" role="alert" *ngIf="mensaje">
                {{mensaje}}
              </div>
              <app-carga *ngIf="carga==0"></app-carga>
            <div >
                <canvas #pieChart style="width: 50%; height: 50%"></canvas>
            </div>
        </div>
    </div>

