<div class="container mt-4">

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#idinventario</th>
        <th scope="col">nombre</th>
        <th scope="col">ubicacion</th>
        <th scope="col">fecha</th>
        <th scope="col">codigo</th>
        <th scope="col">correlativo</th>
        <th scope="col">Codigo Barra</th>
        <th scope="col">Codigo QR</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let inventario of inventarios">
        <th scope="row">{{inventario.idinventario}}</th>
        <td>{{inventario.nombre}}</td>
        <td>{{inventario.ubicacion}}</td>
        <td>{{inventario.fecha}}</td>
        <td>{{inventario.codigo}}</td>
        <td>{{inventario.correlativo}}</td>
        <td><img src="http://localhost/backend_ticket/inventarioBarra/{{inventario.codigo}}"></td>
        <td><img src="http://localhost/backend_ticket/inventarioQR/{{inventario.codigo}}"></td>
      </tr>
    </tbody>
  </table>
</div>