<div class="card-header">
    <div class="card-title">Estado del valor Neto</div>
</div>
<div class="card-body">
    <div class="chart-container">
        <div class="alert alert-danger mt-3" role="alert" *ngIf="mensaje">
            {{mensaje}}
          </div>
        <canvas #pieChart class="bar-conta"></canvas>
        <app-carga *ngIf="carga==0"></app-carga>
    </div>
    <div class="card-title">Leyenda de Valor Neto</div>
    <div *ngFor="let nombre of nombres2; let i = index;">
        
        <div class="card-category">
            Número:{{id2[i]}}-{{nombre}}
        </div>
    </div>  
</div>
