<div class="page-header">
  <h4 class="page-title">GESTIÓN INVENTARIO UNSM</h4>
</div>
<div class="row">

  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Basic</h4>
      </div>
      <div class="card-body">
        <form>
          <input type="file" class="form-control " (change)="onFileChange($event)" accept=".xlsx">
          <button type="submit" class="btn btn-primary " (click)="enviarBienes()">Guardar</button>

        </form>
        <div class="container overflow-auto tabla-excel" *ngIf="data.length > 0">


          <table class="table table-striped mt-5">

            <thead>
              <tr>

                <!-- <th scope="col">Imprimir</th> -->
                <th scope="col">{{ header[0] }}</th>
                <th scope="col">{{ header[1] }}</th>
                <th scope="col">{{ header[2] }}</th>
                <th scope="col">{{ header[6] }}</th>
                <th scope="col">{{ header[3] }}</th>
                <th scope="col">{{ header[7] }}</th>
                <th scope="col">{{ header[9] }}</th>
                <th scope="col">{{ header[10] }}</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let row of data | filtro:busqueda">
                <!--
                <td class=" text-center celda-icono"><a
                    href="{{urlCodigoBarra}}/backend_ticket/impresionExcel/{{row.CODIGO_PATRIMONIAL}}/{{row.FECHA_DOCUMENTO_ADQUIS}}/{{row.DENOMINACION_BIEN}}"
                    target="_blank"><i class="fa-solid fa-print icono-cursor"></i></a></td> -->
                <td>{{ row.NRO}}</td>
                <td>{{ row.CODIGO_PATRIMONIAL}}</td>
                <td>{{ row.DENOMINACION_BIEN}}</td>
                <td>{{ row.FECHA_DOCUMENTO_ADQUIS}}</td>
                <td>{{ row.NRO_CTA_CONTABLE}}</td>
                <td>{{ row.VALOR_ADQUIS}}</td>
                <td>{{ row.NOM_EST_BIEN}}</td>
                <td>{{ row.OPC_ASEGURADO}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2 container" *ngIf="data.length > 0">

          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshInventario()">
          </ngb-pagination>

          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshInventario()">
            <option [ngValue]="10">10 items per pag</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>
      </div>

    </div>



  </div>
</div>
