<h1 style="text-align: center;">INVENTARIO UNSM</h1>
<form class="container">
  <input type="file" class="form-control" (change)="onFileChange($event)" accept=".xlsx">

</form>
<div class="container overflow-auto">


  <table class="table table-striped" *ngIf="data.length > 0">

    <thead>
      <tr>
        <th scope="col">Imprimir</th>
        <th scope="col">{{ header[0] }}</th>
        <th scope="col">{{ header[1] }}</th>
        <th scope="col">{{ header[2] }}</th>
        <th scope="col">{{ header[6] }}</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let row of data">
        <td class=" text-center celda-icono"><a
            href="{{urlCodigoBarra}}/backend_ticket/impresionExcel/{{row.CODIGO_PATRIMONIAL}}/{{row.FECHA_DOCUMENTO_ADQUIS}}"
            target="_blank"><i class="fa-solid fa-print icono-cursor"></i></a></td>
        <td>{{ row.NRO}}</td>
        <td>{{ row.CODIGO_PATRIMONIAL}}</td>
        <td>{{ row.DENOMINACION_BIEN}}</td>
        <td>{{ row.FECHA_DOCUMENTO_ADQUIS}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-between p-2 container" *ngIf="data.length > 0">

  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
    [boundaryLinks]="true" (pageChange)="refreshInventario()">
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshInventario()">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="50">50 items per page</option>
    <option [ngValue]="100">100 items per page</option>
  </select>
</div>