.icono-cursor {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
  }
  
  .icono-cursor:hover {
    cursor: pointer;
    color: white;
    padding: 10px 10px 10px 10px;
    background-color: #0d6efd;
    border-radius: 50%;
  }
  
  .buscar{
    width: 80%;
  }
  .buscar span{
    border-radius: 50%;
  }
  .buscar2{
    width: 50%;
  }
  
  .check{
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
  .tabla-excel{
    overflow-x: auto;
  }
  .pantalla{
    display: flex;
    
    right: 0;
    z-index: 1000;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
  }

  .texto-carga{
    color: rgba(229, 232, 235, 0.959);
  }