<h1 style="text-align: center;">BUSCAR INVENTARIO UNSM</h1>
<form class="container buscar2 g-3">

  <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control buscar2">


  <button class="btn btn-primary " (click)="search()">Buscar</button>

</form>
<div class="input-group buscar container mt-3">


  <input type="text" [(ngModel)]="busqueda" class="form-control " (keyup)="actualizarBusqueda($event)"
    placeholder="Buscar...">
  <span class="input-group-text">
    <i class="fas fa-search"></i>
  </span>


</div>

<div class="container overflow-auto mt-3 text-center">

  <div class="row justify-content-center">
    <div class="col-4">
      <button class="btn btn-primary px-3" (click)="imprimirPaquete()">Imprimir {{selectedCount}} tickets</button>
    </div>
    <div *ngIf="selectedCount==maxSelected" class="col-4">
      <span class="text-danger">*Solo puede seleccionar {{maxSelected}} tickets</span>
    </div>
  </div>



  <table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">Seleccionar</th>
        <th scope="col">Imprimir</th> 
        <th scope="col">{{ header[0] }}</th>
        <th scope="col">{{ header[2] }}</th> <!--Código patrimonial -->
        <th scope="col">{{ header[3] }}</th>
        <th scope="col">{{ header[6] }}</th>
        <th scope="col">{{ header[10] }}</th>
        <th scope="col">{{ header[7] }}</th>
        <th scope="col">{{ header[9] }}</th>
        <th scope="col">{{ header[11] }}</th>
      </tr>
    </thead>



    <tbody *ngIf="filteredItems">

      <tr *ngFor="let row of filteredItems">
        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="{{ row.codigo_patrimonial}}" id="flexCheckDefault"
              (change)="disableCheckboxes()" (click)="getSelectedCount()">
              <span class="form-check-sign"></span>
            </label>
          </div>
          <!-- <div class="form-check">
            
            <input class="form-check-input" type="checkbox" value="{{ row.codigo_patrimonial}}" id="flexCheckDefault"
              (change)="disableCheckboxes()" (click)="getSelectedCount()">

          </div> -->
        </td> 
        <td class=" text-center celda-icono"><a
            href="http://127.0.0.1:8000/inventaryPDF/{{row.codigo_patrimonial}}/{{row.fecha_adquisicion}}/{{row.denominacion_bien}}"
            target="_blank"><i class="fa fa-print icono-cursor"></i></a></td>
        <td>{{ row.id}}</td>
        <td>{{ row.codigo_patrimonial}}</td>
        <td>{{ row.denominacion_bien}}</td>
        <td>{{ row.fecha_adquisicion}}</td>
        <td>{{ row.nro_cuenta_contable}}</td>
        <td>{{ row.valor_adquisicion}}</td>
        <td>{{ row.estado_bien}}</td>
        <td>{{ row.cta_con_seguro}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-between p-2 container">

  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
    [boundaryLinks]="true" (pageChange)="refreshBien()">
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshBien()">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="50">50 items per page</option>
    <option [ngValue]="100">100 items per page</option>
  </select>
</div>