.icono-cursor {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
  }
  
  .icono-cursor:hover {
    cursor: pointer;
    color: white;
    padding: 10px 10px 10px 10px;
    background-color: #0d6efd;
    border-radius: 50%;
  }
  
  .buscar{
    width: 50%;
  }
  .buscar span{
    border-radius: 50%;
  }
  .buscar2{
    width: 50%;
  }
  
  .check{
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
  .tabla-excel{
    overflow-x: auto;
  }
  