
<app-carga *ngIf="cargando2 == false"></app-carga>

<div
  class="page-header"
  *ngIf="this.permidoscrud[0]?.read === 1 && cargando2 == true"
>
  <h4 class="page-title">Buscar Inventario</h4>
  <ul class="breadcrumbs">
    <li class="nav-home">
      <a href="#">
        <i class="flaticon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a href="#">Tablas</a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a href="#">Tabla BD</a>
    </li>
  </ul>
</div>
<div class="card" *ngIf="this.permidoscrud[0]?.read === 1 && cargando2 == true">
  <div class="card-body">
    <div class="input-group buscar container">
      <input
        type="text"
        [(ngModel)]="busqueda"
        class="form-control"
        (keyup)="actualizarBusqueda($event)"
        placeholder="Buscar..."
      />
      <span class="input-group-text">
        <i class="fas fa-search"></i>
      </span>

      <div class="mx-3">
        <h3>Total de bienes {{ this.totalItems }}</h3>
      </div>
    </div>

    <div class="container overflow-auto mt-3 text-center">
      <div class="row justify-content-center">
        <div class="col-4">
          <button class="btn btn-primary px-3" (click)="imprimirPaquete()" 
          [disabled]="!isChecked">
            Imprimir {{ selectedCount }} tickets
          </button>
        </div>
        
        <div class="col-4">
          <button class="btn btn-primary px-3" (click)="generarFormato()">
            Descargar SINABIP
          </button>
        </div>
      </div>

      <app-carga *ngIf="cargando == 0"></app-carga>
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="datafiltro.data?.data.length === 0"
      >
        no hay bienes en la base de datos
      </div>
      <div
        class="table-responsive overflow-auto tabla-excel"
        *ngIf="datafiltro.data?.data.length != 0"
      >
        <div class="row" *ngIf="cargando == 1">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Imprimir</th>
                <th scope="col">NRO</th>
                <th scope="col">Cod. Patrimonial</th>
                <th scope="col">Denom. Bien</th>
                <th scope="col">Áreas</th>
                <th scope="col">Fecha Adq.</th>
                <th scope="col">Cuenta cont.</th>
                <th scope="col">Valor del Bien</th>
                <th scope="col">Tipo de Cuenta</th>
                <th scope="col">Seguro</th>
              </tr>
            </thead>

            <tbody *ngIf="datafiltro.data?.data">
              <tr *ngFor="let row of datafiltro.data?.data">
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="{{ row.codigo_patrimonial }}"
                        (change)="disableCheckboxes()"
                        (click)="getSelectedCount()"
                      />
                      <span class="form-check-sign">Check</span>
                    </label>
                  </div>
                
                </td>
                <td class="text-center celda-icono">
                  <a
                    href="http://127.0.0.1:8000/inventaryPDF/{{
                      row.codigo_patrimonial
                    }}/{{ row.fecha_adquisicion }}/{{ row.denominacion_bien }}"
                    target="_blank"
                    ><i class="fa fa-print icono-cursor"></i
                  ></a>
                </td>
                <td>{{ row.id }}</td>
                <td>{{ row.codigo_patrimonial }}</td>
                <td>{{ row.denominacion_bien }}</td>
                <td>{{ row.desc_area }}</td>
                <td>{{ row.fecha_adquisicion }}</td>
                <td>{{ row.nro_cuenta_contable }}</td>
                <td>{{ row.valor_adquisicion }}</td>
                <td>{{ row.estado_bien }}</td>
                <td>{{ row.cta_con_seguro }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between p-2 container">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="itemsPerPage"
        (pageChange)="onPageChange($event)"
      >
      </ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshBien($event)"
      >
        <option [ngValue]="10">10 items</option>
        <option [ngValue]="50">50 items</option>
        <option [ngValue]="100">100 items</option>
      </select>
    </div>
  </div>
</div>