.textnone {
  text-decoration: none;
  font-size: 14px !important;
}
.textnone:hover {
  text-decoration: underline;
}
.form-control {
  font-size: 14px;
  border-color: #ebedf2;
  padding: 0.6rem 1rem;
  height: inherit !important;
}
label {
  color: #495057 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.form-check,
.form-group {
  margin-bottom: 0;
  padding: 10px;
}
.btn {
  padding: 0.65rem 1.4rem;
  font-size: 14px;
  opacity: 1;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}
.desactive {
  background: #d5d5d5 !important;
  color: #fff !important;
  border: 1px solid #d5d5d5 !important;
}
.errors {
  color: #ff0000;
  font-size: 0.75em;
  margin-top: 10px;
}
